@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&family=Roboto:ital,wght@0,300;1,100&display=swap');

/*  font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*style pour nav */
/*style white and black div */
.white p{
    color: black;
}

.black p{
    color:white;
}

.nav-div {
   margin: 0;
   padding:0;
   background-color: chocolate;
   height:80px;
}

.petite-div {
     margin: auto;
     max-width: 600px;
     min-width: 20;
     background-color: royalblue;
     display: flex;
     height:inherit;
     justify-content: center;
     align-items: center;
}
.title-div {
      flex: 1;
}
.title-div p {
    font-size: 22px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.icon-div {
     justify-content: flex-end;
}
.icon-div img{
     width: 30px;
     cursor: pointer;
}

/* styling this container  */

.container-child-div {
    margin: auto;
    max-width: 550px;
    min-width: 20;
    background-color:chocolate;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.search-div{
     width: 100%;
     height: auto;
     margin: 0 10px;
     background-color: chartreuse;
}

.search-contnent {
      background-color: brown;
      height:40px;
      margin:5px;
      display: flex;
}
.search-div img {
       margin-top:5px;
       width:30px;
       height:30px;
}

.search-contnent input {
     border: none;
     height:29px;
     width:80%;
     margin-top:5px;
     margin-left:5px;
}

.black .search-contnent input {
     background-color: black;
}

.white .search-contnent input {
     background-color: white;
}