@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&family=Roboto:ital,wght@0,300;1,100&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  margin : 0 ;
  padding: 0;
  box-sizing: border-box;

}
/* stylin four the navbar  */

.black , .white{
    width:calc(100% - 40%);
    height:auto;
    background-attachment:fixed;
    display: flex;
    justify-content: space-between;
    margin:10px auto;
}

.black .logo , .white .logo{
     width:auto;
}
.black .logo p , .white .logo p{
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        font-weight:700;
}

.black .logo p{
     color:white;
}

.white .logo p{
       color:black;
}


#black , #white , img{
      margin-top:13px;
      border:none;
      width:32px;
}


#black{
      background-color: black;
      cursor: pointer;
}
#white{
     background-color: white;
     cursor: pointer;
}
/* styling the Container  composant  */
.container{
      background-color:black;
      width: calc(100% - 50%);
      height: auto;
      margin:10px auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
}

.Serach{
       width: 100%;
       background-color: aliceblue;
}

.black-color p{
     color:white;
}  
.white-color p{
     color:black;
}