@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&family=Roboto:ital,wght@0,300;1,100&display=swap');

/*  font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*style pour nav */
/*style white and black div */
.white p{
    color: black;
}

.black p{
    color:white;
}

.nav-div {
   margin: 0;
   padding:0;
   height:80px;
}

.petite-div {
     margin: auto;
     max-width: 600px;
     min-width: 20;
     display: flex;
     height:inherit;
     justify-content: center;
     align-items: center;
     padding: 0 10px;
}
.title-div {
      flex: 1;
}
.title-div p {
    font-size: 22px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.icon-div {
     justify-content: flex-end;
}
.icon-div img{
     width: 20px;
     cursor: pointer;
}

/* styling this container  */

.container-child-div {
    margin: auto;
    max-width:400px;
    min-width:20;
    padding: 0 15px;
    /* background-color:chocolate; */
    margin-top: 15px;
    display: flex;
}

.search-div{
     width: 100%;
     height: auto;
     margin: 0 10px;
     border-bottom: 2px solid rgb(126, 239, 13) ;
}

.search-contnent {
      height:40px;
      margin:5px;
      display: flex;
}
.search-div img {
       margin-top:10px;
       width:20px;
       height:20px;
       
}

.search-contnent input {
     border: none;
     height:29px;
     width:80%;
     margin-top:5px;
     margin-left:5px;
     font-size: 16px;
}

input:focus{
    outline: none;
}

.black .search-contnent input {
     background-color: black;
}

.white .search-contnent input {
     background-color: white;
}

.black .search-contnent input {
    color : white;
}

.white .search-contnent input {
    color:black
}

